*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}
h1{
    margin:0;
    padding-top: 20px;
}

header{
    width: 100%;
    height: 30px;
    background: orange;
    /*  */
}
form{
    display: block;
    width: 200px;
    margin: auto;
}
.error{color:red;}
.welcome, .back{
    margin: 0;
    padding: 5px 0 0 50px;
    float: left;
    text-decoration: none;
}
.button-action{
    text-decoration: none;
    color: #fff;
    background: indianred;
    padding: 10px 20px;
    margin: 20px;
    cursor: pointer;
    position: relative;
    top: 30%;
}
.logout{
    margin: 0;
    padding: 5px 50px 0 0;
    float: right;
    text-decoration: none;
    color:black;
}
.content{
    width: 100%;
    height: 300px;
    background: lightgrey;
    text-align: center;
    position: relative;
}
.remember{
    margin: 10px;
}
footer{
    width: 100%;
    height: 30px;
    background: lightgreen;
}

/* input username & password */
.username, .password, .input-form {
    margin-top: 15px;
    border: none;
    height: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px gray;
}
.username:focus, .password:focus, .input-form:focus {
    background-color: lightpink; 
}

/* button login */
.btn-login {
    border: none;
    background: indianred;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color:#fff;
    margin-top: 10px;
}